<div class="container-fluid" id="mainContainer">
    <div class="row justify-content-center" style="margin-left: 5px; margin-right: 5px">
        <div class="col-md-9">
            <table class="table table-hover">
                <thead class="table-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Username</th>
                        <th scope="col">E-mail</th>
                        <th scope="col">Role</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <th scope="row">{{user.userId}}</th>
                        <td>{{user.username}}</td>
                        <td>{{user.email}}</td>
                        <td>{{user.role}}</td>
                        <td style="text-align: center">
                            <a (click)="onOpenModal(user,'preview')"><fa-icon class="IconPreview" [icon]="faEye"></fa-icon></a>
                            <a (click)="onOpenModal(user,'add')"><fa-icon class="IconAdd" [icon]="faPlusSquare"></fa-icon></a>
<!--                            <a type="button" data-bs-toggle="modal" data-bs-target="#addTaskModal" data-bs-whatever="{{user}}">-->
<!--                                <fa-icon class="IconAdd" [icon]="faPlusSquare"></fa-icon>-->
<!--                            </a>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="addTaskModal" tabindex="-1" role="dialog" aria-labelledby="addTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addTaskModalLabel">Add Task to: {{user?.username}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="addTaskForm" (ngSubmit)="addTask()">
                    <div class="form-group">
                        <label class="col-form-label">Task name:</label>
                        <input [formControlName]="'taskName'" type="text" class="form-control" required autofocus>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Description:</label>
                        <input [formControlName]="'description'" type="text" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label">Deadline:</label>
                        <mat-form-field class="col-form-label" style="width: 100%">
                            <input matInput id="dateInput" readonly
                                   [ngxMatDatetimePicker]="picker"
                                   [formControl]="dateControl"
                                   [min]="minDate" [max]="null">
                            <mat-datepicker-toggle matSuffix [for]="$any(picker)">
                            </mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker
                                                     [showSpinners]="true"
                                                     [showSeconds]="false"
                                                     [stepHour]="1"
                                                     [stepMinute]="1"
                                                     [stepSecond]="1"
                                                     [touchUi]="false"
                                                     [color]="color">
                            </ngx-mat-datetime-picker>
                        </mat-form-field>
                    </div>
<!--                </form>-->
<!--            </div>-->
            <div class="modal-footer">
                <button id="closeModalButton" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Add task</button>
            </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade " id="userPreviewModal" tabindex="-1" role="dialog" aria-labelledby="userPreviewModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="userPreviewModalLabel">Preview of: {{user?.username}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row justify-content-center g-5" style="margin-left: 5px; margin-right: 5px">
                        <div class="col-lg-4 tableColumn" id="todo-0">
                            <div class="row tableHeader justify-content-center todoHeader">TODO</div>
                            <app-task-tile [tasks]="todoTasks" [flag]="false"></app-task-tile>
                        </div>
                        <div class="col-lg-4 tableColumn" id="inprogress-1">
                            <div class="row tableHeader justify-content-center inprogressHeader">IN PROGRESS</div>
                            <app-task-tile [tasks]="inprogressTasks" [flag]="false"></app-task-tile>
                        </div>
                        <div class="col-lg-4 tableColumn" id="done-2">
                            <div class="row tableHeader justify-content-center doneHeader">DONE</div>
                            <app-task-tile [tasks]="doneTasks" [flag]="false" [done]="true"></app-task-tile>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
